<component name="libraryTable">
  <library name="springboot-rocketmq-util-1.0-SNAPSHOT">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../Program Files (x86)/Maven/maven_repository/com/houzz/shop/springboot-rocketmq-util/1.0-SNAPSHOT/springboot-rocketmq-util-1.0-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>